.testpage{
    color: green;
    .toparea{
        color: red;
        width: 2rem;
        height: 1rem;
        border: 1px solid red;
    }
    .botarea{
        color: blue;
        .bot-top{
            color: blueviolet;
            &:hover{
                color: red;
            }
        }
    }
}