.testpage{
    color: green;
    .toparea{
        color: red;
    }
    .botarea{
        color: blue;
        .bot-top{
            color: blueviolet;
            &:hover{
                color: red;
            }
        }
    }
}