.gis-container{
    height: 100%;
    overflow: hidden;

    .gis-sider{
        .gis-menu{
            height: 90%;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
            background-color: #FFFFFF;
        }
        .toggle-collapsed{
            height: 10%;
            background-color: #FFFFFF;
        }
    }
}