.gis-container {
    height: 100%;
    overflow: hidden;

    // 顶栏
    .gis-header {
        .gis-logo-title {
            display: flex;
            flex-direction: row;

            .iconfont {
                color: #FFF;
            }

            .gis-title {
                color: #FFF;
                font-size: .36rem;
                margin-left: .2rem;
            }
        }


    }

    // 侧边栏
    .gis-sider {
        .gis-menu {
            height: 100%;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
            background-color: #FFFFFF;

            .ant-menu {
                .iconfont {
                    height: .32rem;
                    background: rgba(255, 255, 255, 0.2);
                    margin-right: .16rem;
                }
            }

            .ant-menu-inline-collapsed {
                li>span {
                    display: none;
                }
                li>div>span {
                    display: none;
                }
            }
        }

        // .toggle-collapsed {
        //     height: 10%;
        //     background-color: #FFFFFF;
        // }
    }
}